language: php

php:
  - 5.3
  - 5.4
  - 5.5
  - 5.6
  - 7.0
  - 7.1

before_script:
  - travis_retry composer self-update
  - travis_retry composer install --no-interaction --prefer-source --dev

script:
  - mkdir -p build/logs
  - if [[ $TRAVIS_PHP_VERSION = '7.1' ]]; then phpunit --coverage-clover build/logs/clover.xml fi
  
after_script:
 - if [[ $TRAVIS_PHP_VERSION = '7.1' ]]; then php vendor/bin/coveralls -v fi
  
