name: phpunit

on:
    push:
        branches: [ "main" ]
    pull_request:
        branches: [ "main" ]

jobs:

    static:
        runs-on: ubuntu-latest

        steps:
            -   uses: actions/checkout@v5
            -   uses: php-actions/composer@v6
            -   uses: php-actions/phpstan@v3
                with:
                    path: src tests
                    level: max
                    php-version: 8.3

    phpunit:

        runs-on: ubuntu-latest
        needs: static
        strategy:
            matrix:
                php-versions: [ '8.2', '8.3', '8.4', '8.5' ]

        steps:
            -   uses: actions/checkout@v5

            -   name: Setup PHP
                uses: shivammathur/setup-php@v2
                with:
                    php-version: ${{ matrix.php-versions }}

            -   uses: php-actions/composer@v6

            -   name: Run test suite
                run: composer run-script test

    coverage100:
        needs: phpunit
        runs-on: ubuntu-latest
        steps:

            -   uses: actions/checkout@v5

            -   name: Setup PHP
                uses: shivammathur/setup-php@v2
                with:
                    php-version: 8.3

            -   uses: php-actions/composer@v6

            -   name: generate coverage report
                run: composer run-script test

            -   name: Coverage Check
                uses: docker://ghcr.io/ericsizemore/phpunit-coverage-check-action
                with:
                    clover_file: 'build/logs/clover.xml'
                    threshold: 100
